body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    background-image: radial-gradient(1440px 1440px at 100% 447.22%, #f9fbfd 0%, #e8eaec 100%) !important;
}

h1 {
    font-size: $h1-fzise;
}

h2 {
    font-size: $h2-fzise;
}

h3 {
    font-size: $h3-fzise;
}

h4 {
    font-size: $h4-fzise;
}

// -------------------- Site blocks parametrs --------------------
.block-height {
    min-height: 100vh;
}

.first-block {
    background: url(../img/fblockbg.png) no-repeat;
    background-size: cover;
    padding-top: 80px;
}

.video-block {
    background-color: $black;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.p-account-block {
    background: url(../img/bgpersonalccount.png) center center no-repeat;
}

.team-photo-block {
    background: url(../img/team.png);
    background-size: cover;
}

.img-overlay {
    background-color: #0195a1;
    opacity: 0.4;
    background-size: cover;
}

.ceo-block {
    background-size: cover;
    background-repeat: no-repeat;
}

.documents-block {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-shadow {
    background: #e6e6e6;
    box-shadow: 0 0 120px 60px #e6e6e6;
}

// -------------------- /Site blocks parametrs --------------------
// -------------------- First block text&picture --------------------
.fpage-info {
    margin-top: 80px;
    position: relative;
    line-height: 2.5rem;
}

.big-font {
    font-size: $h1-fzise;
    color: $dark-green;
}

.c-info {
    font-size: $h1-fzise;
    color: $light-green;
}

.c-about {
    font-size: 16px;
    color: $black;
    text-align: justify;
    margin-top: 25px;
}

.fpage-picture {
    margin-top: 120px;
    padding-left: 40px;
}

.fpage-picrute--position {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 601px;
}

// -------------------- /First block text&picture --------------------
// -------------------- Video parameters --------------------
.bg-video {
    min-width: 100%;
    min-height: 100%;
    width: 100vh;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.video-block--zindex {
    z-index: 1;
    position: relative;
}

.video-about {
    font-size: 16px;
    color: $white;
    margin-top: 20px;
}

.video-about-margin {
    margin-top: 80px;
}

// -------------------- /Video parameters --------------------
// -------------------- Captions parametrs --------------------
.video-h2 {
    text-align: center;
    color: $white;
    padding-top: 50px;
    margin-bottom: 80px;
}

.p-account-h2 {
    text-align: center;
    color: $dark-green;
    padding-top: 50px;
    margin-bottom: 80px;
}

.ceo-h2 {
    text-align: center;
    color: $dark-green;
    padding-top: 50px;
    margin-bottom: 80px;
}

.documents-h2 {
    text-align: center;
    color: $dark-green;
    padding-top: 50px;
    margin-bottom: 80px;
}

// -------------------- /Captions parametrs --------------------
// -------------------- CEO information --------------------
.ceo-photo {
    border-radius: 100px;
    width: 160px;
    height: 160px;
    border: 2px solid $dark-green;
    margin-top: 55px;
}

.ceo-name {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: $black;
}

.ceo-info {
    margin-bottom: 30px;
    text-align: justify;
    padding: 0 20px;
    color: $black;
}

.ceo-info-central {
    margin-bottom: 30px;
    text-align: justify;
    padding: 0 65px;
    color: $black;
}

.centralized {
    margin-bottom: 50px;
    margin: 0 auto;
}

.ceo-padding-l {
    padding-left: 85px;
}

.ceo-padding-r {
    padding-right: 85px;
}

// -------------------- /CEO information --------------------
// -------------------- Carousel --------------------
.carousel {
    position: absolute;
    bottom: 0;
    max-width: 1000px;
}

.carousel-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 20px;


    img {
        display: block;
    }
}

// -------------------- /Carousel --------------------
// -------------------- Text parameters --------------------
.team-about {
    color: $white;
    margin-top: 450px;
    font-size: 40px;
}

.capt-bold {
    font-weight: bold;
}

.account-about {
    margin-top: 30px;
    padding: 0 35px;
    color: $black;
}

.account-caption {
    font-weight: bold;
    font-size: 18px;
    color: $black;
}

.account-picture {
    margin-top: 60px;
}

.account-size {
    min-width: 602px;
    min-height: 675px;
    max-width: 700px;
    max-height: 700px;
}

.underline-text {
    text-decoration: underline;
}

// -------------------- /Text parameters --------------------
// -------------------- Buttons --------------------
.button-account {

    border-radius: 22px;
    padding: 5px 11px;
    color: $white;
    background: $dark-green;
}

.button-account-position {
    margin-top: 70px;
}

.subscribe-button {
    border-radius: 0 22px 22px 0 !important;
    display: block;
    background-color: $dark-green;
    color: $white;
    height: 29px;
    font-size: 14px;
}

.subscribe-input {
    border-radius: 22px 0 0 22px !important;
    display: block;
    height: 29px;
    background-image: radial-gradient(1440px 1440px at 100% 447.22%, #f9fbfd 0%, #e8eaec 100%) !important;
}

.subscribe-form {
    display: flex;
    padding-left: 35px;
    margin-top: 30px;
}

.wp-button {
    border: 1px solid $dark-green;
    border-radius: 22px;
    padding: 7px;
    width: 120px;
    height: 29px;
}

.h-i-w-button {
    border: 1px solid $dark-green;
    border-radius: 22px;
    padding: 7px;
    position: relative;
    width: 157px;
    height: 29px;
    overflow: hidden;
}

.triangle {
    background-color: $dark-green;
    padding: 14px 20px;
    position: absolute;
    right: -5px;
    top: 0;
    &:after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 13px;
        border-color: transparent transparent transparent #ffffff;
    }
}

.text-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wp-hiw-position {
    margin-top: 0;
}

// -------------------- /Buttons --------------------

// -------------------- First block picture animating classes --------------------
#translate {

}
.line-translate {

}
.btm-pc-left-col {

}
.btm-pc-top-row-left-col{

}
.btm-pc-top-row-mid-col{

}
.btm-pc-top-row-right-col {

}
.btm-pc-btm-row-right{

}
.btm-pc-circle{

}
.first-diagram-moving {	
}

.outline-circle1{ 
    }


// -------------------- /First block picture animating classes--------------------
// -------------------- Documents --------------------
.doc-picture {
    width: 208px;
    height: 313px;
}

.doc-text {
    color: $black;
    margin-top: 30px;
    font-size: $h3-fzise;
}

.doc-bg {
    background: url('../img/bclogobigpng.png') no-repeat 110% 100% !important;
}

.doc-info {
    margin-top: 100px;
    color: $black;
    font-size: 14px;
    padding-left: 35px;
}

// -------------------- /Documents --------------------