// -------------------- Event button class --------------------

.header{
    transition: 0.3s ease-in-out;
}

#button-event.button-event {
    border-radius: 15px;
    padding: 5px 12px;
    color: $white;
    background: #8fcbd1;
    width: 80px;
    height: 29px;
}
.top-menu{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.burger-menu{
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 2;
}


.menu-right{
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-grow: 2;

    ul{
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.menu-on-scroll {
    background-color: rgba(32, 26, 43, 0.6) !important;
    color: $white;

    svg path {
        fill: $white;
    }
    a {
        color: $white;
    }
    #button-event.button-event {
        background-color: $black;
        color: $white;
    }
    .icon {
        background-position-y: -30px;
    }
}


.menu{
     margin: 0;
}

@media screen and (max-width: 768px){
    .top-menu{
        padding: 16px 10px;
    }
    .burger-menu{
        display: block;
    }
    .menu-right{
        padding-top: 50px;
        transition: transform 0.3s linear;
        transform: translateX(100%);
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        text-align: right;

        &.active{
            transform: translateX(0);
        }
    }
    .menu{
        flex-direction: column;
    }
}





// -------------------- Sprite classes --------------------
.icon {
    display: inline-block;
    width: 26px;
    height: 18px;
    background-image: url(../img/sprite-social.svg);
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 10px;
}

.social-twitter {
    background-position-x: 0px;
}

.social-telegram {
    background-position-x: -40px;
}

.social-github {
    background-position-x: -80px;
}

.social-medium {
    background-position-x: -120px;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
}

// -------------------- /Sprite classes --------------------


