.banner {
    padding-top: 70px;
    background-image: url('/img/hp-bg.svg');
    background-position: center;
    background-position-y: 70px;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.banner__img {
    margin-top: 60px;
    svg {
        margin: 0 auto;
    }
}

.banner__title {
    margin-top: 13px;
}

.banner__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__btn {
    position: relative;
    width: 201px;
    height: 34px;
    border-radius: 5px;
    background-color: $dark-grey;
    padding: 8px;
    color: $white;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    margin: 6px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        .btn-popup {
            opacity: 1;
        }
    }
}

.banner__notification {
    margin: 35px 0px;
}

#banner-image {
    width: 700px;
    height: 453px;
}

// ---------- ADAPTIVE ----------
@media screen and (max-width: 1440px) {

    #banner-image {
        width: 513px;
    }
    .banner {
        padding-top: 10px;
        background-position: center;
        background-position-y: 25px;
        background-repeat: no-repeat
    }

    .banner__title {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    #banner-image {
        width: 550px;
    }
    .banner__img {
        margin-top: 0px;
        svg {
            margin: 0 auto;
        }
    }
    .banner__title {
        margin-top: 10px;
    }
}

@media screen and (max-width: 425px) {
    #banner-image {
        width: 300px;
    }

    .banner__img {
        margin-top: -45px;
        svg {
            margin: 0 auto;
        }
    }
    .banner__title {
        margin-top: -100px;
    }
}