.banner {
    padding-top: 70px;
    background-image: linear-gradient(135deg, rgba(254, 254, 254, 0.05) 0%, rgba(133, 143, 166, 0.15) 100%);
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.banner__img {
    margin-top: 60px;
    svg {
        margin: 0 auto;
    }
}

.banner__title {
    margin-top: 13px;
}

.banner__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__btn {
    width: 201px;
    height: 34px;
    border-radius: 5px;
    background-color: $dark-grey;
    padding: 8px;
    color: $white;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    margin: 6px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__notification {
    margin: 35px 0px;
}

#banner-image {
    width: 700px;
    height: 453px;
}

// ---------- ADAPTIVE ----------
@media screen and (max-width: 1440px) {
    #banner-image {
        width: 513px;
    }
    .banner {
        padding-top: 10px;
    }
    .banner__title {
        margin-top: 0px;
    }
}

@media screen and (max-width: 375px) {
    #banner-image {
        width: 300px;
    }

    .banner__img {
        margin-top: -45px;
        svg {
            margin: 0 auto;
        }
    }
    .banner__title {
        margin-top: -100px;
    }
}