.features{
    font-size: 16px;
	background-color: $light-white;
}
.features-container{
	padding: 10px 0px 100px;
	text-align: center;
}
.features__title{
	margin: 40px 0px 50px;
}
.features__description{
	margin-bottom: 50px;
}
.features__list{
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.features__item{
	width: 380px;
	max-width: 90vw;
	height: 440px;
	border: 1px solid #e1e1e1;
	background-color: #f9f9f9;
	box-sizing: border-box;
	padding: 50px 40px 30px;
	overflow: hidden;
	transition: .3s ease-in-out;

	&:hover{
		padding-top: 90px;
		.item__img img{
			width: 91px;
			height: 100px;
		}
		.item__description{
			opacity: 1;
		}
	}
	
	&:nth-child(2){
		margin: 0px 30px;
	}
	.item__img{
		img{
			width: 204px;
    		height: 229px;
			transition: 0.3s ease-in-out;
		}
		margin-bottom: 69px;
	}
	.item__title{
		margin-bottom: 15px;
	}
	.item__description{
		transition: 0.3s ease-in-out;
		opacity: 0;
	}
}

// ---------- ADAPTIVE ----------
@media screen and (max-width: 1440px) {
.features .features__item{
	font-size: 13px;
	width: 270px;
	max-width: 90vw;
	height: 340px;
	border: 1px solid #e1e1e1;
	background-color: #f9f9f9;
	box-sizing: border-box;
	padding: 50px 40px 30px;
	overflow: hidden;
	transition: .3s ease-in-out;

	&:hover{
		padding-top: 45px;
		.item__img img{
			width: 91px;
			height: 100px;
		}
		.item__description{
			opacity: 1;
		}
	}
	
	&:nth-child(2){
		margin: 0px 30px;
	}
	.item__img{
		img{
			width: 123px;
    		height: 138px;
			transition: 0.3s ease-in-out;
		}
		margin-bottom: 69px;
	}
	.item__title{
		margin-bottom: 15px;
	}
	.item__description{
		transition: 0.3s ease-in-out;
		opacity: 0;
	}
}}