.footer {
    a {
        text-decoration: none;
        color: $black;
        background-color: $light-white;
    }

    i {
        display: inline-block;
        margin-right: 15px;
    }
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
}

.footer--margin {
    li:not(:last-child) {
        margin-bottom: 15px;
    }
    margin: 0 25px 25px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0 25px;
}

.form-row {
    display: block;
}

.input-join {
    width: 300px;
    border-radius: 5px;
    border: 1px solid #201a2b;
    box-sizing: border-box;
    padding: 8px 46px;
    background: url('../img/mail-logo.svg') no-repeat 10px center;
    margin-bottom: 10px;
}

.btn-join {
    border-radius: 5px;
    border: 1px solid #0195a1;
    background-color: #0195a1;
    padding: 8px 22px;
    color: $white;
    cursor: pointer;
}

.form__subscribe {
    margin-bottom: 56px;
}

a.sprite {
    display: flex;
    align-items: center;
}

.icon-sprite {
    display: block;
    width: 28px;
    height: 18px;
    background-image: url(../img/footer-social-sprite.svg);
    background-repeat: no-repeat;
}

    .soc-mdm {background-position-y: 0px;}
    .soc-git {background-position-y: -34px;}
    .soc-tlgrm {background-position-y: -68px;}
    .soc-twit {background-position-y: -101px;}
    .soc-ytube {background-position-y: -136px;}
    .soc-btt {background-position-y: -170px;}
    .soc-red {background-position-y: -204px;}
    .soc-fbook {background-position-y: -238px;}
    .soc-ln {background-position-y: -272px;}
    .soc-inst {background-position-y: -306px;}