.media{
	background-color: #f9fbfd;
	text-align: center;
}
.media__container{
	padding: 10px 0px;
}
.media__title{
	margin: 65px 0px 50px;
}
.media__description{

}
.descr__title{
	margin-top: 50px;
	margin-bottom: 0;
}
.descr__text{
	margin-bottom: 67px;
}