.research {
    background-color: #f9fbfd;
}

.research-container {
    padding: 10px 0px 100px;
    text-align: center;
}

.research__list {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.research__item {
    width: 380px;
    max-width: 90vw;
    min-height: 484px;
    box-sizing: border-box;
    padding: 25px 40px 30px;

    &:not(:last-child){
    margin-right: 75px;
    }

    .res__item__img{
		margin-bottom: 35px;
	}
	.res__item__description{
		font-size: 20px;
	}
}