.research {
    background-color: #f9fbfd;
}

.research-container {
    padding: 10px 0px 100px;
    text-align: center;
}

.research__list {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.research__item {
    width: 380px;
    max-width: 90vw;
    min-height: 484px;
    box-sizing: border-box;
    padding: 25px 40px 30px;

    &:not(:last-child){
    margin-right: 75px;
    }

    .res__item__img{
		margin-bottom: 35px;
	}
	.res__item__description{
		font-size: 20px;
	}
}

// ---------- ADAPTIVE ----------
.research__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.research .research__item {

    width: 223px;
    max-width: 90vw;
    min-height: 320px;
    padding: 30px 0px 10px;

    &:not(:last-child){
    margin-right: 40px;
    }

    .res__item__img{
        margin-bottom: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .res__item__description{
        font-size: 15px;
    }
}