.video-sect{
	min-height: 100vh;
	text-align: center;
	background-color: #cceaed;
	display: flex;
	align-items: center;

}
.video-sect__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 26px;
}
.video--youtube--dymanic {
	width: 100%;
}

.playlist-thumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	padding: 0 50px;

	.video-thumb {
		margin-right: 25px;
		cursor: pointer;
	}
}

.arrows {
	position: absolute;
	border: none;
	background: none;
	outline: none;
	img {
		width: 20px;
	}
	&#prev {
		transform: scale(-1, 1);
		left: 0;		
	}
	&#next {
		right: 0;
	}

}

.video-sect__video{
	margin: 50px 0px;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	iframe, 
	video {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;  
	}
}

// ---------- ADAPTIVE ----------
@media screen and (max-width: 1440px) {
	.video-sect__container{
	padding: 15px;
}
	.video-sect__video{
	margin: 25px 0px 50px;
	}
}	

@media screen and (max-width: 768px) {
	#demo.video-sect {
		min-height: auto;
		padding: 25px 0px 50px;
	}	
}

@media screen and (max-width: 425px) {
#demo.video-sect{
	min-height: auto;
	}
}