.video-sect{
	min-height: 100vh;
	text-align: center;
	background-color: #cceaed;
	display: flex;
	align-items: center;

}
.video-sect__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 26px;
}

.video-sect__video{
	margin: 50px 0px;
	position: relative;
	width: 80%;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	iframe, 
	video {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;  
	}
}

// ---------- ADAPTIVE ----------
@media screen and (max-width: 1440px) {
	.video-sect__container{
	padding: 15px;
}
.video-sect__video{
	margin: 25px 0px 50px;
	}
}