// ---------- Font sizes ----------
$h1fsize: 48px;
$h2fsize: 25px;


// ---------- /Font sizes ----------

// ---------- Base colors ----------
$primary: #0195a1;
$dark-black: #000000;
$black: #201a2b;
$white: #ffffff;
$light-white: #fefefe;
$dark-grey: #858fa6;
$light-blue: #f9fbfd;


// ---------- /Base colors ----------