// ---------- Header ----------
.menu__utoken {
    width: 474px;
    justify-content: space-between;
}

// ---------- Token distribution block ----------
.distribution-container {
    padding: 50px 0px 100px;
    text-align: center;
}

.distribution__image {
    margin-bottom: 50px;
}

.distribution__info {
    text-align: left;
}

.distribution--item {
    margin-top: 10px;
}

// ---------- Allocation block ----------
.allocation {
    background-color: #cceaed;
}

.allocation-container {
    padding: 50px 0px 100px;
    text-align: center;
}

.allocation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allocation__diagram__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagram__circle {
    margin-right: 14px;
    &:not(:first-child) {
        margin-top: 20px;
    }
}

.diagram__info {
    margin-right: 54px;
    &:not(:first-child) {
        margin-top: 36px;
    }
}

.h4-tokens {
    text-align: right;
}

.__percent {
    margin-right: 25px;
    &:not(:first-child) {
        margin-top: 36px;
    }
}

.__tokens:not(:first-child) {
    margin-top: 36px;
}

// ---------- Purchase ----------
.purchase {
    background-color: #f9fbfd;
}

.purchase-container {
    padding: 50px 0px 100px;
    text-align: center;
}

.purchase--content {
    border: 1px solid #e1e1e1;
    background-color: $white;
    text-align: left;
    padding: 50px 50px;
}

.grey-frame {
	display: inline-block;
    width: auto;
    border: 1px solid #e1e1e1;
    background-color: #f9f9f9;
    padding: 9px 19px;
}

.official-exchange {
    display: flex;
    justify-content: center;
    align-items: center;

    .--exchange {
        width: 225px;
        height: 63px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.official-wallet {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .--wallet {
        width: 159px;
        height: 159px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}