// Header 
.menu__utoken {
    width: 376px;
    justify-content: space-between;
}

// Token distribution block
.distribution-container {
	padding: 10px 0px 100px;
	text-align: center;
}

.distribution__image {
	margin-bottom: 50px;
}

.distribution__info {
	text-align: left;
}

.distribution--item {
	margin-top: 10px;
}