<section id="home" class="banner">
	<div class="banner-container wrapper">
		<div class="banner__img">
			//= banner-img.html
		</div>
		<h1 class="banner__title">BaseCore - security token trading platform.</h1>
		<h2 class="banner__subtitle --regular">Works on <span class="--pink --mono --bold">Excalibur_</span> exchange protocol – open/fast/safe</h2>
		<div class="banner__btn-container">
			<a href="" class="banner__btn"><span class="btn-popup">The BaseCore Platform is testing  now and currently unavailable</span>BaseCore Platform</a>
			<a href="" class="banner__btn"><span class="btn-popup">The BaseCore WP is only available in its preliminary version</span>Whitepaper*</a>
		</div>
		<div class="banner__notification">*BaseCore (BCT) Token Distribution Event (TDE) is open from <br/> November 20, 2018 until February 20, 2019</div>
	</div>
</section>