<section class="excalibur">
	<h2>POWERED BY</h2>
    <div class="excalibur-containter wrapper">
        
        <div class="excalibur-left">
            <img class="excalibur-logo" src="/img/excalibur-logo.png">
            <span class="excalibur-about"> Ethereum based decentralized exchange </span>
            <div><a class="excalibur-invite-btn" href="">GET INVITE</a></div>
        </div>
        <div class="excalibur-right">
            <div class="excalibur-api-background"><img src="/img/excalibur-background.png"></div>
                <div><a class="excalibur-api-btn" href="">EXPLORE API</a></div>
            </div>
        </div>
    </div>
</section>