<section id="media" class="media">
    <h3 class="media__title">MEDIA</h3>
    <div class="media__container wrapper">
        <div class="about_team">
            <div><img class="about_team__photo" src="/img/about_team.png"></div>
            <div class="about_team__info">
                <div class="about_team__header">
                    <h2>From small to large extension in 2018:
                <br> The good, the bad...</h2></div>
                <div class="about_team__text">Quick start of the project is our priority goal. We are a small team developers under the guidance of an ...</div>
            </div>
        </div>
        <div class="medium__container">
        </div>
    </div>
</section>