<section class="research" id="docs">
	<div class="research-container wrapper">
		<h3 class="--uppercase">basecore research</h3>
		<div class="research__list"> 
			<div class="research__item"> 
				<div class="res__item__img"><a href=""><img src="../img/wp-logo2.jpg" alt=""></a></div>
				<div class="res__item__description">Basecore <br> Whitepaper</div>
			</div>
			<div class="research__item"> 
				<div class="res__item__img"><a href=""><img src="../img/legal-opinion.png" alt=""></a></div>
				<div class="res__item__description">Legal <br> Opinion</div>
			</div>
			<div class="research__item"> 
				<div class="res__item__img"><a href=""><img src="../img/one-page.png"></a></div>
				<div class="res__item__description">One <br> Page</div>
			</div>




		</div>

	</div>
</section>