<section id="demo" class="video-sect">
    <div class="video-sect__container wrapper">
        <h3 class="video-sect__title --uppercase">Introducing the BaseCore (<span class="--primary">BCT</span>) token.</h3>
        <div>
            <p>The first ever digital security backed by a portfolio of the most successful private IT-companies</p>
        </div>
        <div class="video-sect__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/d7tVc91x0Vs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</section>