<section id="demo" class="video-sect">
    <div class="video-sect__container wrapper">
        <h3 class="video-sect__title --uppercase">Introducing the BaseCore (<span class="--primary">BCT</span>) token.</h3>
        <div>
            <p>The first ever digital security backed by a portfolio of the most successful private IT-companies</p>
        </div>
        <div class="video--youtube--dymanic">
            <div class="video-sect__video">
                <div id="player"></div>
            </div>
            <ul class="playlist-thumbs">
            	<button class="arrows" id="prev"><img src="/img/arrow.svg"></button>
                <button class="arrows" id="next"><img src="/img/arrow.svg"></button>
            </ul>
            
        </div>
    </div>
</section>