<section id="demo" class="video-sect">
    <div class="video-sect__container wrapper">
        <h3 class="video-sect__title">WHAT IS IT?</h3>
        <div>
            <h3>From small to large.</h3>
            <p>Quick start of the project is our priority goal. We are a small team developers under the guidance of an experienced businessman, appreciate the professionalism and the ability of each team member to engage in each other's work. As you grow and development of the project, we will be able to connect a wider range of specialists, for The new requirements of our project.</p>
        </div>
        <div class="video-sect__video">
            <iframe width="560" height="315" src="https://youtu.be/embed/d7tVc91x0Vs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</section>