// main page
@import "base/normalize.scss";
@import "base/variables.scss";
@import "base/general.scss";
@import "components/header.scss";
@import "components/banner.scss";
@import "components/video-sect.scss";
@import "components/whitepaper.scss";
@import "components/excalibur.scss";
@import "components/features.scss";
@import "components/media.scss";
@import "components/research.scss";
@import "components/footer.scss";
// utoken page
@import "components/utoken/utoken.scss";