<section class="allocation" id="allocation">
    <div class="allocation-container wrapper">
        <h3>TOKEN ALLOCATION</h3>
        <div class="h4-tokens">
            <h4>TOKENS</h4></div>
        <div class="allocation-content">
            <div class="allocation__diagram"><img src="/img/allocation-diagram.svg"></div>
            <div class="allocation__diagram__info">
                <ul class="diagram__circle">
                    <li class="diagram__circle"><img src="/img/circle_1.svg" alt=""></li>
                    <li class="diagram__circle"><img src="/img/circle_2.svg" alt=""></li>
                    <li class="diagram__circle"><img src="/img/circle_3.svg" alt=""></li>
                    <li class="diagram__circle"><img src="/img/circle_4.svg" alt=""></li>
                    <li class="diagram__circle"><img src="/img/circle_5.svg" alt=""></li>
                </ul>
                <ul>
                    <li class="diagram__info">Basecore Foundation Official Distributors – Initial Distribution Event</li>
                    <li class="diagram__info">Basecore Foundation Official Distributors – Initial Distribution Event</li>
                    <li class="diagram__info">Basecore Foundation Official Distributors – Initial Distribution Event</li>
                    <li class="diagram__info">Basecore Foundation Official Distributors – Initial Distribution Event</li>
                    <li class="diagram__info">Basecore Foundation Official Distributors – Initial Distribution Event</li>
                </ul>
                <ul class="diagram__percent --bold">
                    <li class="__percent">40%</li>
                    <li class="__percent">30%</li>
                    <li class="__percent">20%</li>
                    <li class="__percent">10%</li>
                    <li class="__percent">10%</li>
                </ul>
                <ul class="diagram__tokens">
                    <li class="__tokens">250,000,000</li>
                    <li class="__tokens">250,000,000</li>
                    <li class="__tokens">250,000,000</li>
                    <li class="__tokens">250,000,000</li>
                    <li class="__tokens">250,000,000</li>
                </ul>
            </div>
        </div>
    </div>
</section>