<section id="home" class="banner">
	<div class="banner-container wrapper">
		<div class="banner__img">
			//= banner-utoken-img.html
		</div>
		<h1 class="banner__title">UBCT – utility Basecore token <br> for many profits in our platform </h1>
		<h2 class="banner__subtitle --regular">Works on <span class="--pink --mono --bold">Excalibur_</span> exchange protocol – open/fast/safe</h2>
		<div class="banner__btn-container">
			<a href="" class="banner__btn">BCT Platform</a>
			<a href="" class="banner__btn">Whitepaper*</a>
		</div>
		<div class="banner__notification">*BCT Token Distribution Event is open <br/>from 20 November 2018 to 20 February</div>
	</div>
</section>