<section class="distribution">
    <div class="distribution-container wrapper">
        <h3>INITIAL DISTRIBUTION EVENT</h3>
        <div class="distribution__image"><img src="/img/tde.png"></div>
        <div class="distribution__info">
            <ul>
                <li class="distribution--item">– Initial Distribution Event: 31 November 2018 to 31 January 2018 </li>
                <li class="distribution--item">– Initial Distribution Event: 31 November 2018 to 31 January 2018 </li>
                <li class="distribution--item">– Initial Distribution Event: 31 November 2018 to 31 January 2018 </li>
            </ul>
        </div>
</section>