<header class="header">
    <div class="top-menu wrapper">
        <div class="main-logo"><a href="#"><img src="img/bclogo.png" alt="baseCoreLogo"></a></div>
        <div class="menu-right">
            <ul class="menu__utoken">
                <li class="menu-element active"><a href="#home">Token</a></li>
                <li class="menu-element"><a href="#distribution">Distribution</a></li>
                <li class="menu-element"><a href="#allocation">Allocation</a></li>
                <li class="menu-element"><a href="#roadmap">Roadmap</a></li>
                <li class="menu-element"><a href="#purchase">Purchase</a></li>
            </ul>
            <div class="menu-right__container">
                <ul class="header-btn-container">
                    <li class="header-button"><a href="/index.html">Home</a></li>
                    <li class="header-button"><a href="#">Events</a></li>
                </ul>
                <ul class="icons-container">
                    <li><a href="https://twitter.com/bscrinc" class="icon social-twitter"></a></li>
                    <li><a href="https://t.me/bscrinc" class="icon social-telegram"></a></li>
                    <li><a href="https://github.com" class="icon social-github"></a></li>
                    <li><a href="https://medium.com/bscrinc" class="icon social-medium"></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>