<section class="purchase" id="purchase">
    <div class="purchase-container wrapper">
        <h2 class="--margin-bot">TOKEN PURCHASE PROCESS </h2>
        <div class="wrapper purchase--content">
            <h3>Register with a distributor or an exchange</h3>
            <p class="grey-frame">Buy BCT tokens from an exchange or distributor. Note that BCT tokens are the 'fuel' of the Blockpass ecosystem and are used ONLY by businesses and merchants aiming to save on their KYC </p>
            <h3>Go to one of the official BCT token distributors or an go to an official exchange</h3>
            <div class="official-exchange --margin-bot">
                <div class="--exchange"><img src="/img/bcore-logo-black.png"></div>
                <div class="--exchange"><img src="/img/excalibur.png"></div>
            </div>
            <h3>Activate your BCT Tokens</h3>
            <p class="grey-frame --margin-bot">Once you have received your tokens, click the activation link inside the Blockpass app and accept the protocol terms. We will verify your identity and when finished, your tokens will become transferable. The BCT Activation Service is now available in Blockpass mobile application. Read the Step-By-Step User Guide to Activating BCT tokensOr connect the BCT Activation Service on the web.</p>
            <h3>Choose your wallet</h3>
            <p class="grey-frame">You can use any ERC-20 compatible wallet to interact with your BCT tokens. We have a partnership with Infinito Wallet that natively support our token.</p>
            <div class="official-wallet --margin-bot">
                <div class="--wallet"><img src="/img/metamask.png"></div>
                <div class="--wallet"><img src="/img/ledger.png"></div>
            </div>
            <h3>Additional info</h3>
            <h4>Contract</h4>
            <p class="grey-frame"> 0x56d3f25c8fb0cf31fffb80afc8b5ca37dfe4626c</p>
            <h4>Token symbol</h4>
            <p class="grey-frame"> UBCT</p>
            <h4>Security audit</h4>
            <p class="grey-frame"> https://github.com/</p>
        </div>
    </div>
</section>